BasedOnStyle: LLVM
Language: Cpp
Standard: c++20
IndentWidth: 4
ColumnLimit: 100
AccessModifierOffset: -4
PointerAlignment: Left
DerivePointerAlignment: false
NamespaceIndentation: None
FixNamespaceComments: true
SortIncludes: CaseSensitive
IncludeBlocks: Preserve
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Attach
